{block #content}

	<header>
		<h1 n:inner-block="title">Seznam změn ve FormMacros</h1>
	</header>

	<texy>

		Verze 2.1
		=========
		- Přidáno makro `{inputValue ...}`.
		- Proběhl vnitřní refactoring práce s kontejnery.
		- Odstraněno volání zastaralých metod.

		Verze 2.0
		=========
		- Refactoring
		- Kompatibilita s aktuálním Nette

		Verze 1.0
		=========
		- První verze od Honzy Marka (https://gist.github.com/347052)

	</texy>

{/block}