/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez, modified by Jan Tvrdík
	Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("reset.css");

/***** Global *****/
/* Body */
	body {
		background-color: #F5F4EF;
		color: #000305;
		font-size: 87.5%; /* Base font size: 14px */
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .5em;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #333;*/
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/*::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}*/

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

ul li, ol li {
	margin: 0.2em 0;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td, .vertical tbody th {padding: .5em .4em; text-align: left;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 1000px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 2em 2em 0 0;}

/*
	Header
*****************/
#header {
	margin: 0 auto;
	padding: 2.5em 0 1em 0;
}

	#header h1 {font-size: 3.571em; line-height: .6;}
	#header h1 a:link, #header h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .3em .2em;
		text-decoration: none;
		width: 427px;
	}
	#header h1 a:hover, #header h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}

	#header h2 {
		font-size: 1.2em;
		font-weight: normal;
		margin: 0 0 .6em 0.8em;
	}



/*
	Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 960px;
	min-height: 150px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#content header h1 {
	font-size: 2em;
	color: #C60000;
	margin-bottom: 0.2em;
}
#content header hgroup h1 + h2 {
	font-size: 1.15em;
	font-style: italic;
	margin-top: 0;
}

#content h2 {margin-top: 1.2em;}
#content h3 {margin-top: 1.2em;}

#content h2 + h3 {
	margin-top: .7em
}

#content h2 + ul, #content h2 + ol {
	margin-top: 0;
}

#content table {
	border: 2px solid #333;
}

#content td, #content th {
	border: 1px solid #999;
}

#footer {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 15px 20px 10px 20px;
	width: 960px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#footer .contact {
	float: left;
	width: 300px;
}

#footer .contact a {
	color: #000;
}

#footer .contact a:hover {
	background-color: transparent;
}

#footer .contact strong a {
	color: #C74350;
	font-size: 1.2em;
	text-decoration: none;
}

#footer .contact strong a:hover {
	color: #FFF;
	background-color: #C74350;
}

#footer .serverInfo {
	color: #808080;
	font-size: 0.85em;
	line-height: 1.7;
	float: right;
	text-align: right;
}

section.extras {
	width: 220px;
	/*height: 200px;*/
	padding: 10px 10px 10px 0px;
	float: left;
	margin-bottom: 20px;
	margin-top: -30px;
}

#addonInfo {
	padding: 15px;
	margin: 20px 0px 40px 0px;
	border: 1px silver solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #FBFBF9;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

#addonInfo table {
	width: 60%;
	margin: 0;
}

#addonInfo table, #addonInfo td, #addonInfo th {
	border: none;
}

#addonInfo td, #addonInfo th {
	padding: 3px 0px;
}

#addonInfo th {
	color: #C60000;
	width: 150px;
}

#addonInfo img.illustration {
	float: right;
}

#addonInfo a#downloadButton {
	display: block;
	width: 200px;
	height: 55px;
	margin-top: 15px;
}

#addonInfo a#downloadButton:hover {
	opacity: 0.95;
	background-color: transparent;
}

#addonInfo a#downloadButton:active {
	margin-top: 16px;
	margin-left: 1px;
}

.js #addonInfo #downloadOptions {
	display: none;
}



/*** Syntax color scheme (by David Grudl ) ****************************************************************************/

pre {
	padding: 3px 7px 6px 7px;
	border: 1px solid #E7DDBE;
	margin: 10px 0px;
	line-height: 1.4;
	overflow: auto;
	font-size: .95em;
	background-color: #FCFBF8;
}

pre, code {
	font-family: Consolas, monospace;
}

li > pre {
	margin-top: 5px;
}

.php-keyword1 {
color:#E71818;
font-weight:bold;
}
.php-keyword2 {
color:#E71818;
}
.php-var {
color:#D59401;
font-weight:bold;
}
.php-num {
color:#CD0673;
}
.php-quote {
color:green;
}
.php-vquote {
color:#00FF00;
font-weight:bold;
}
.php-comment {
color:#929292;
}
.html-tag {
color:#598527;
font-weight:bold;
}
.html-tagin {
color:#89A315;
}
.html-quote {
color:#448CCB;
font-weight:bold;
}
.html-comment {
color:#929292;
}
.html-entity {
color:#89A315;
}
.css-class {
color:#004A80;
}
.css-id {
color:#7DA7D9;
font-weight:bold;
}
.css-def {
color:#5674B9;
}
.css-property {
color:#003663;
font-weight:bold;
}
.css-value {
color:#448CCB;
}
.css-color {
color:#007800;
}
.css-comment {
color:#929292;
}
.cpp-keywords1 {
color:blue;
font-weight:bold;
}
.cpp-num {
color:red;
}
.cpp-quote {
color:brown;
font-weight:bold;
}
.cpp-comment {
color:green;
}
.cpp-preproc {
color:grey;
}
.java-keywords1 {
color:blue;
font-weight:bold;
}
.java-num {
color:red;
}
.java-quote {
color:brown;
font-weight:bold;
}
.java-comment {
color:#929292;
}
.java-preproc {
color:grey;
}
.js-out {
color:#448CCB;
}
.js-keywords1 {
color:#003663;
font-weight:bold;
}
.js-num {
color:red;
}
.js-quote {
color:brown;
}
.js-comment {
color:#929292;
font-style:italic;
}
.sql-keyword1 {
color:#DD0000;
font-weight:bold;
}
.sql-keyword2 {
color:#DD2222;
}
.sql-keyword3 {
color:#0000FF;
font-weight:bold;
}
.sql-value {
color:#5674B9;
}
.sql-comment {
color:#929292;
}
.sql-num {
color:#5674B9;
font-weight:bold;
}
.sql-option {
color:#004A80;
font-weight:bold;
}
.py-keyword1 {
color:#0033CC;
font-weight:bold;
}
.py-keyword2 {
color:#CE3333;
font-weight:bold;
}
.py-keyword3 {
color:#660066;
font-weight:bold;
}
.py-number {
color:#993300;
}
.py-docstring {
color:#E86A18;
}
.py-quote {
color:#878787;
font-weight:bold;
}
.py-comment {
color:#929292;
font-style:italic;
}
.texy-hlead {
color:#4444BB;
font-weight:bold;
}
.texy-hbody {
background-color:#EEEEFF;
color:#4444BB;
}
.texy-hr {
color:#BB4444;
}
.texy-code {
color:#666666;
}
.texy-html {
color:#66AA66;
}
.texy-text {
color:#6666AA;
}
.texy-err {
background-color:red;
color:white;
}
.xlang {
color:red;
font-weight:bold;
}
