{var $robots = noindex}
{block #content}

	<header>
		<h1 n:inner-block="title">Stránka nenalezena</h1>
	</header>

	<texy>
		Požadovaná stránka nebyla nalezena. Je možné, že adresa stránky je nesprávná nebo již neexistuje.
	</texy>

{/block}
