{var $robots = noindex}
{block #content}

	<header>
		<h1 n:inner-block="title">Server Error</h1>
	</header>

	<p>We're sorry! The server encountered an internal error and
	was unable to complete your request. Please try again later.</p>

	<p><small>error 500</small></p>

{/block}
